*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
}
.footer-container{
    width: 100%;
    height: 60vh;
}
body{
    width: 100%;
    height: 120vh;
}
/*====All text enters here====*/ 
.hero_text{
  width: 100%;
  height: 600px;
}
.service_text{
    width: 190px;
    height: 100px;
    transform: translateX(560px);
}
.case_text{
    width: 300px;
    height: 150px;
}
.about_text{
    width: 500px;
    height: 150px;
}
.client_text{
    width: 600px;
    height: 600px;
  }
  h1{
    font-size: 45px;
  }
h2{
    font-size: 29px;
    font-weight: 600;
}
.prof{
    color: purple;
}
/*====All text enters here====*/ 



/*======== ALL Imagies and Boxes =====*/
.hero_img{
    width: 100%;
    height: 600px;
    background: url(../IMG/img2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 25px;
}
.client_img{
    width: 100%;
    height: 600px;
    background: url(../IMG/img5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5px;
}
img{
    width: 100%;
    height: 400px;
}
.img1 , .img2{
    width: 500px;
    height: 200px;
    display: grid;
    margin-bottom: 20px;
    transform: translateY(-30px);
}
.img1{
    background: url(../IMG/img3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img2{
    background: url(../IMG/img4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bx1 , .bx2,
.bx3 , .bx4,
.bx5 , .bx6,
.bx7 , .bx8{
    border: 2px solid blue;
    width: 190px;
    height: 100px;
}
.case_box{
    width: 160px;
    height: 50px;
    border: 2px solid  purple;
    border-radius: 14px;
}
.case_box:hover{
   background-color: purple;
   color: #000;
   transition: all ease-in  2s;
}
.about_box{
    width: 500px;
    height: 150px;
}
/*======== ALL Imagies and Boxes =====*/
header{
    background: #000;
}
.hero{
    background: #000;
}
.Service{
    background: #111;
}
.case-study{
    background: #000;
}
.about{
    background: #111;
}
.client{
    background: #000;
}
.team{
    background: #111;
}
.choose{
    background: #000;
}
.talk{
    background: #111;
}
footer{
    background: #000;
}

/*======= footer and responsiveness=======*/
a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

a, button{
    transition:0.5s;
}

a, p{
    font-size:14px;
}

h1, h2, h3, h4, h5, h6{
    color:var(--primary);
    font-weight:600;
}

a, button, input, textarea, select{
    outline:none !important;
}

fieldset{
    border:0;
}

.title{
    color:var(--primary);
}

.flex, .fixed_flex{
    display:flex;
}

.flex-content{
    width:100%;
    position:relative;
}

.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}

.padding_3x{
    padding:3rem;
}

.padding_4x{
    padding:4rem;
}

.btn{
    padding:0.8rem 2rem;
    border-radius:5px;
    text-align:center;
    font-weight:500;
    text-transform:uppercase;
}

.btn_1{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

.btn_1:hover{
    background-color:transparent;
    color:var(--primary);
}

.btn_2{
    border:1px solid var(--secondary);
    background-color:var(--secondary);
    color:var(--primary);
}

.btn_2:hover{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

@media (max-width:920px){
    .flex{
        flex-wrap:wrap;
    }
    
    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }
  
    .btn{
        padding:0.5rem 1rem;
    }
    
    a, p{
        font-size:12px;
    }
}



/***************************
               FOOTER
****************************/

footer h3{
    color:#fff;
    margin-bottom:1.5rem;
    display: flex;
}

footer a{
    color:#fff;
    display:block;
    margin:15px 0;
}

footer a:hover{
    color:blue;
}

footer fieldset{
    padding:0;
    background: #fff;
}

footer fieldset input{
    background-color:#334f6c;
    border:0;
    color:#fff;
    padding:1rem;
}

footer fieldset .btn{
    border-radius:0;
    border:0;
}

footer fieldset .btn_2:hover{
    background-color:blue;
    border:0;
    color:red;
}

footer .flex:last-child{
    align-items:center;
}

footer .flex:last-child .flex-content:last-child{
    text-align:right;
}

footer .flex:last-child p{
    color:white;
}

footer .flex:last-child a{
    width:40px;
    display:inline-block;
    background-color:#334f6c;
    color:#fff;
    padding:0.5rem;
    margin-right:3px;
    text-align:center;
}

footer .flex:last-child a:hover{
    background-color:aqua;
    color:green;
}

@media (max-width:1100px){
    footer .flex:first-child{
        flex-wrap:wrap;
    }
    
    footer .flex:first-child .flex-content{
        flex: 1 1 40%;
    }
}

@media (max-width:920px){
    footer .flex:last-child .flex-content:last-child{
        text-align:left;
    }
}

@media (max-width:320px){
    footer .flex:first-child .flex-content{
        flex:1 1 100%;
    }
}


