/*=====All Cards should enter here======*/

.card {
  position: relative;
  width: 250px;
  height: 200px;
  margin: 0 auto;
  background: #000;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.card_img1 {
  background: url(../IMG/wed.jpg);
  width: 250px;
  height: 200px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}

.card_img2 {
  background: url(../IMG/val.jpg);
  width: 250px;
  height: 200px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}

.card_img3 {
  background: url(../IMG/carnival.jpg);
  width: 250px;
  height: 200px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}

.card_img4 {
  background: url(../IMG/bday.jpg);
  width: 250px;
  height: 200px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}

.card_img5 {
  background: url(../IMG/club.jpg);
  width: 250px;
  height: 200px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}
.card_img6 {
  background: url(../IMG/hallowen.jpg);
  width: 250px;
  height: 200px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}

.card_img7 {
  background: url(../IMG/party.jpg);
  width: 250px;
  height: 200px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}

.card_img8 {
  background: url(../IMG/chrismas.jpg);
  width: 250px;
  height: 200px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}

.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face1 {
  box-sizing: border-box;
  padding: 20px;
}

h2 {
  margin: 0;
  padding: 0;
}

.java {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.python {
  background-color: #00fffc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cSharp {
  background-color: #fc00ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.face2 {
  transition: 0.5s;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}




.card:hover .face.face2 {
  height: 60px;
}

h2 {
  font-size: 2em;
}


.card:nth-child(1) .face.face2 {
  background-image: linear-gradient(40deg,
      #fffc00 0%,
      #fc00ff 45%,
      #00fffc 100%);
  border-radius: 15px;
}

.card:nth-child(2) .face.face2 {
  background-image: linear-gradient(40deg,
      #fc00ff 0%,
      #00fffc 45%,
      #fffc00 100%);
  border-radius: 15px;
}

.card:nth-child(3) .face.face2 {
  background-image: linear-gradient(40deg,
      #00fffc 0%,
      #fc00ff 45%,
      #fffc00 100%);
  border-radius: 15px;
}

.card:nth-child(4) .face.face2 {
  background-image: linear-gradient(40deg,
      #00fffc 0%,
      #fc00ff 45%,
      #fffc00 100%);
  border-radius: 15px;
}

.card:nth-child(5) .face.face2 {
  background-image: linear-gradient(40deg,
      #00fffc 0%,
      #fc00ff 45%,
      #fffc00 100%);
  border-radius: 15px;
}

.card:nth-child(6) .face.face2 {
  background-image: linear-gradient(40deg,
      #00fffc 0%,
      #fc00ff 45%,
      #fffc00 100%);
  border-radius: 15px;
}

.card:nth-child(7) .face.face2 {
  background-image: linear-gradient(40deg,
      #00fffc 0%,
      #fc00ff 45%,
      #fffc00 100%);
  border-radius: 15px;
}

.card:nth-child(8) .face.face2 {
  background-image: linear-gradient(40deg,
      #00fffc 0%,
      #fc00ff 45%,
      #fffc00 100%);
  border-radius: 15px;
}

/*=====All Cards should enter here======*/



/*======All other cards should enter here======*/
.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.container-card .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.container-card .card:nth-child(1) .box .content a {
  background: #2196f3;
}

.container-card .card:nth-child(2) .box .content a {
  background: #e91e63;
}

.container-card .card:nth-child(3) .box .content a {
  background: #23c186;
}

.container-card .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.container-card .card .box:hover {
  transform: translateY(-50px);
}

.container-card .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.container-card .card .box .content {
  padding: 20px;
  text-align: center;
}

.container-card .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

.container-card .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.container-card .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.container-card .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.container-card .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}


/*========Team Card=========*/
.container-team {
  height: 100vh;
  width: 100%;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;

}

.border:hover {
  border: 1px solid white
}

.card-team {
  height: 379px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card0 {
  background: url(../IMG/ayo.jpg) center center no-repeat;
  background-size: 350px;
}

.card0:hover {
  background: url(../IMG/ayo.jpg)left center no-repeat;
  background-size: 600px;
}


.fa {
  opacity: 1;
}

.card1 {
  background: url(../IMG/ayo-ogunseinde-sibVwORYqs0-unsplash.jpg) center center no-repeat;
  background-size: 600px;
}

.card1:hover {
  background: url(../IMG/ayo-ogunseinde-sibVwORYqs0-unsplash.jpg) left center no-repeat;
  background-size: 600px;
}

.fa {
  opacity: 1;
}

.card2 {
  background: url(../IMG/img7.jpg) center center no-repeat;
  background-size: 300px;
}

.card2:hover {
  background: url(../IMG/img7.jpg) left center no-repeat;
  background-size: 600px;
}


.fa {
  opacity: 1;
}

.fa {
  opacity: 1;
  transition: opacity 1s;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*======All Forms Here=======*/
.form-structor {
  background-color: #222;
  border-radius: 15px;
  height: 550px;
  width: 560px;
  position: relative;
  overflow: hidden;
}

.form-structor::after {
  content: '';
  opacity: .8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 590px;
  background-image: url('https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf884ad570b50659c5fa2dc2cfb20ecf&auto=format&fit=crop&w=1000&q=100');
}

.signup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 65%;
  z-index: 5;
  -webkit-transition: all .3s ease;
}

.signup .slide-up {
  top: 2%;
  -webkit-transform: translate(-50%, 0%);
  -webkit-transition: all .3s ease;
}

.signup .slide-up .form-holder,
.signup .slide-up .submit-btn {

  visibility: hidden;
}

.signup .slide-up .form-title {
  font-size: 1em;
  cursor: pointer;
}

.signup .slide-up .form-title span {
  margin-right: 5px;
  visibility: visible;
  -webkit-transition: all .3s ease;
}

.form-title {
  color: #fff;
  font-size: 1.7em;
  text-align: center;

}

span {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
}


.form-holder {
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  margin-top: 50px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;

}

.input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  width: 100%;
  font-size: 12px;
}

.input:last-child {
  border-bottom: 0;
}

.input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}


.submit-btn {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(256, 256, 256, 0.7);
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;

}

.submit-btn:hover {
  transition: all .3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

.login {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 5;
  -webkit-transition: all .3s ease;
}

.login::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translate(-50%, 0);
  background-color: #fff;
  width: 200%;
  height: 250px;
  border-radius: 50%;
  z-index: 4;
  -webkit-transition: all .3s ease;
}

.center {
  position: absolute;
  top: calc(50% - 10%);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 65%;
  z-index: 5;
  -webkit-transition: all .3s ease;

}

.form-title {
  color: #000;
  font-size: 1.7em;
  text-align: center;
}

span {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
}


.form-holder {
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #eee;
  overflow: hidden;
  margin-top: 50px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}

.input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  width: 100%;
  font-size: 12px;
}

.input:last-child {
  border-bottom: 0;
}

.input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.submit-btn {
  background-color: #6B92A4;
  color: rgba(256, 256, 256, 0.7);
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}

.submit-btn:hover {
  transition: all .3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

.submit-btn .slide-up {
  top: 90%;
  -webkit-transition: all .3s ease;
}

.submit-btn .slide-up .center {
  top: 10%;
  -webkit-transform: translate(-50%, 0%);
  -webkit-transition: all .3s ease;
}

.submit-btn .slide-up .form-holder,
.submit-btn .slide-up .submit-btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
}

.submit-btn .slide-up .form-title {
  font-size: 1em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease;
}

.submit-btn .slide-up .form-title span {
  margin-right: 5px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}